
__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/


.venv/
venv/
env/
.env/


.vscode/
.idea/


build/
dist/
*.egg-info/


*.log
server.log


.python-version


